/*
-----------------------------------------------------------------------------------------------
Name:		    main.css
Author:		  Connor Bryan Andrew Clawson
Date:		    2025-03-07
Language:	  CSS
Purpose:	  The purpose of this file is to be the main stylesheet for the website...

-----------------------------------------------------------------------------------------------
ChangeLog:
Who			    When			      What
----------- --------------- -------------------------------------------------------------------
CBAC        2025-03-07      Original Version 
CBAC        2025-04-04      Added more padding to the bottom so the footer doesn't cover the
                            buttons at the bottom of the character sheet forms.
CBAC        2025-04-09      Added color and allignment to the .system-message class.
-----------------------------------------------------------------------------------------------
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  position: relative;
  min-height: 100vh;
  /* vh = viewport height */
}

header {
  text-align: center;
  background-color: lightgray;
  border-bottom: 3px solid black;
  margin: 0;
  padding: 8px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  margin: 20pt 0 0 0;
  text-align: center;
  background-color: lightgray;
  border-top: 3px solid black;
}

.content-wrap {
  padding-bottom: 4rem;
  /* keep this larger so the buttons have space above the footer. */
}

.system-message {
  color: #d00;
  text-align: center;
}

.add-button {
  justify-items: center;
  margin: 1rem;
}

/* Table */

h1 {
  text-align: center;
}

table {
  margin: auto;
  margin-bottom: 1rem;
  border-spacing: 0;
}

/* WEEK 10 ADDITION */
th,
td {
  padding: .1rem .25rem;
}

.skill-fields {
  width: 2rem;
}

tr:nth-child(even) {
  background-color: #c0c0c0;
}

tr:nth-child(odd) {
  background-color: #d8d8d8;
}

/* WEEK 10 ADDITION */
/* Hide number field arrows https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Forms */

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  float: left;
  padding-right: .5em;
}

.field {
  float: right;
}

.form-row {
  margin-bottom: 2rem;
}

.button {
  margin-top: 1rem;
}
