/*
-----------------------------------------------------------------------------------------------
Name:		    main.css
Author:		  Connor Bryan Andrew Clawson
Date:		    2025-03-07
Language:	  CSS
Purpose:	  The purpose of this file is to be the main stylesheet for the website...

-----------------------------------------------------------------------------------------------
ChangeLog:
Who			    When			      What
----------- --------------- -------------------------------------------------------------------
CBAC        2025-03-07      Original Version 
CBAC        2025-04-04      Added more padding to the bottom so the footer doesn't cover the
                            buttons at the bottom of the character sheet forms.
CBAC        2025-04-09      Added color and allignment to the .system-message and .error 
                            classes.
CBAC        2025-04-11      Beginning refactor of skill list table and character name, race,
                            and class with their own grouped sections. 
CBAC        2025-04-18      first pass of styling for feats.
-----------------------------------------------------------------------------------------------
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  position: relative;
  min-height: 100vh;
  /* vh = viewport height */
}

header {
  text-align: center;
  background-color: lightgray;
  border-bottom: 3px solid black;
  margin: 0;
  padding: 8px;
}

main {
  padding: .5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  margin: 20pt 0 0 0;
  text-align: center;
  background-color: lightgray;
  border-top: 3px solid black;
}

.content-wrap {
  padding-bottom: 4rem;
  /* keep this larger so the buttons have space above the footer. */
}

.system-message {
  text-align: center;
}

.error {
  color: #d00;
}

.add-button {
  justify-items: center;
  margin: 1rem;
}

/* Table */

h1 {
  text-align: center;
}

table {
  margin: auto;
  margin-bottom: 1rem;
  border-spacing: 0;
}

/* WEEK 10 ADDITION */
th,
td {
  padding: .1rem .25rem;
}

tr:nth-child(even) {
  background-color: #c0c0c0;
}

tr:nth-child(odd) {
  background-color: #d8d8d8;
}

/* WEEK 10 ADDITION */
/* Hide number field arrows https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Forms */

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  float: left;
  padding-right: .5em;
}

.box {
  display: flex;
  flex-direction: row;
}

.box > div {
  margin: .5rem 2rem;
}

.field {
  float: right;
}

.form-row {
  margin-bottom: 2rem;
}

.button {
  margin-top: 1rem;
}

/* Skills Table */
.skill-header {
  height: 2rem;
  /*transform: rotate(45deg);
  text-align: left;*/
}

.skill-fields {
  width: 1.5rem;
}

.is-untrained,
.skill-total,
.ability-mod,
.is-class-skill,
.skill-acp {
  text-align: center;
}

/* Feats */
#feats-block {
  border: 1px solid black;
  width: 50rem;
  margin: 0 auto .5rem auto;
  padding-bottom: 1rem;
}

#feat-list {
  margin: 1rem auto;
  padding: .5rem 0 0 0;

}

.feat-box {
  border: 1px solid black;
  max-width: 40rem;
  margin: 0 auto .5rem auto;
  padding: .5rem;
}

.feat-label {
  width: 5.5rem;
  height: 1rem;
  text-align: right;
}

.feat-field {}

.feat_desc,
#notes {
  min-height: 5rem;
  width: 32rem;
  resize: vertical;
}

.delete-button {
  float: right;
}

.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
